/*
 |----------------------------------------------------------------
 |  Navigation Column
 |----------------------------------------------------------------
 */
.navigation-column {
    position: relative;
}

/*
 |----------------------------------------------------------------
 |  Menu
 |----------------------------------------------------------------
 */
.main-menu {
    @include list-reset;
    display: none;
    justify-content: flex-end;

    > li {

        + li {
            margin-left: 25px;
        }

        > a {
            color: $maintext;
            display: block;
            padding: 10px 0;

            &:hover {

            }
        }
    }

    > .current-menu-item > a {
        border-bottom: 2px solid currentColor;
    }
}

/*
 |----------------------------------------------------------------
 |  Sub Menu
 |----------------------------------------------------------------
 */
.menu-item-has-children {
    position: relative;

    .sub-menu {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        a {
            padding: 5px 10px;
            display: block;
            color: white;
            background: $highlight;

            &:hover {
                background: darken($highlight, 10%);
            }
        }
    }
}

.mobile-submenu-trigger {
    display: none;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    color: $maintext;
    transition: 250ms;
    transition-property: transform, background, color;
    transform-origin: center;
    transform: rotateX(0deg);

    &.opened {
        transform: rotateX(180deg);
    }
}

/*
 |----------------------------------------------------------------
 |  None Mobile Menu
 |----------------------------------------------------------------
 */
@media #{$above-tablet} {
    .main-menu {
        display: flex !important;
    }

    .menu-item-has-children {
        > a:after {
            content: "\f0d7";
            margin-left: 5px;
            @include font-awesome;
            color: $highlight;
        }

        .sub-menu {
            position: absolute;
            z-index: 10;
            min-width: 180px;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 50px);
            transition: 350ms;
            transition-property: transform, opacity;
            visibility: hidden;
            opacity: 0;
            box-shadow: 1px 1px 5px rgba(black, .3);
        }

        &:last-child .sub-menu {
            right: 0;
            left: auto;
            transform: translate(0, 50px);
        }

        &:hover {
            .sub-menu {
                transform: translate(-50%, 0);
                visibility: visible;
                opacity: 1;
            }

            &:last-child .sub-menu {
                transform: translate(0, 0);
            }
        }
    }
}

/*
 |----------------------------------------------------------------
 |  Mobile Menu
 |----------------------------------------------------------------
 */
@media #{$below-tablet} {
    .main-menu {
        position: absolute;
        right: 0;
        top: 0;
        min-width: 280px;

        > li {
            display: block;

            + li {
                margin-left: 0;
            }

            > a {
                background: $highlight;
                color: $white;
                padding: 10px 15px;

                &:hover {
                    background: darken($highlight, 10%);
                }
            }
        }

        > .current-menu-item > a {
            border-bottom: none;
        }
    }

    .menu-item-has-children {
        > a {
            display: flex !important;
            justify-content: space-between;
            align-items: center;
        }

        .sub-menu {
            display: none;

            a {
                padding-left: 35px;
            }
        }
    }

    .mobile-submenu-trigger {
        display: flex;
    }
}
