@media #{$below-desktop} {
    /*
     |----------------------------------------------------------------
     |  Enforce Column Stretching
     |----------------------------------------------------------------
     */
    .tablet-stretch {
        flex-basis: 12/12*100% !important;
        max-width: 12/12*100% !important;
        margin-right: auto !important;
        margin-left: auto !important;

        &._s {
            flex-basis: 10/12*100% !important;
            max-width: 10/12*100% !important;
        }
    }

}
